
.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.navbar-brand {
  background: url('../images/order.png') center no-repeat;
  height: 55px;
  width: 115px;
  background-size: 96px 48px;
  margin-right: 15px;
  margin-left: 0px !important;
}

.spinner-container {
  text-align: center;
}

.spinner-header {
  text-align: center;
}

.spinner-header h3 {
  font-weight: bold;
}

.spinner {
  background: url('../images/loading.gif') center no-repeat;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: center;
}

body{
  background-color: #FFFFFF;
  color: #292f33
}

.chef-cooking {
  background: url('../images/chef-cooking.jpg') center no-repeat;
  height: 340px;
  width: 190px;
  margin: 0 auto !important;
}

.chef-done-cooking {
  background: url('../images/chef-done-cooking.png') center no-repeat;
  height: 340px;
  width: 190px;
  margin: 0 auto !important;
}