<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oOh! Media</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default nav-bar" ng-controller="NavbarController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ui-sref="main"><div class="navbar-brand"></div></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref="order">Orders</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Others <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="main">Main</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"> Test User</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="signOut()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12 font-size-18">
            <div ng-if="error.value" class="alert alert-danger">{{ error.message }}</div>
        </div>
    </div>
    <data-ui-view/>
</div>

</body>
</html>
